<div class="w-64" >
    <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
    <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small </span>
        <div class="flex items-center justify-around mt-6">
            <span class="font-bold">₹250</span>
            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                <span >+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
        
    </div>
</div>